<html>
	<head>
		<title>Image Upload </title>
	</head>
	<body>
		<form method="post" enctype="multipart/form-data" action="/upload">
    		Select Image File:<input type="file" name="file">
    		<input type="submit" value="Submit">
		</form>
	</body>
</html>

